{
 :deps {org.clojure/clojure {:local/root ".deps/clojure-1.11.1"}
        org.clojure/test.check {:local/root ".deps/test.check-1.1.1"}}
 :aliases {:test {:extra-paths ["test"]
                 :extra-deps {io.github.cognitect-labs/test-runner
                              {:local/root ".deps/test-runner-0.5.1"}}
                 :main-opts ["-m" "cognitect.test-runner"]
                 :exec-fn cognitect.test-runner.api/test}}
 }
